@import "flat-ui/variables";
@import "flat-ui/mixins";

.content {
    padding: 10px;
}

.class-grid {
    display: table;
    border-spacing: 10px;
    border-collapse: separate;
    table-layout: fixed;
    width: 100%;
    padding:0;
    margin: 0;
    
    & > .class-row {
        display: table-row;
        padding: 0;
        margin: 0;
        border: 1px solid white;
        
        & > .btn-cont {
            display: table-cell;
            vertical-align: middle; 
            height: 120px;
        
            .clearfix();
            
            & > a {
                color: @inverse;
            }
        }
    }
}

.progress-bars {
    margin-top: 25px;
    font-size: 16px; 
    color: #888; 
    line-height: 16px; 
    margin: 0;
}

.progress-bar {
    margin-bottom: 0;
}

.progress-other {
    opacity: 0.5;
}

.nav-right:hover {
    background: @alizarin;
}

.nav-right {
    cursor: default;
}

.exclamation {
    color: @inverse;
    background: @alizarin;
    display: block;
    .square(80px);
    line-height: 80px;
    border-radius: 50%;
    margin: 30px 0;
}


















